*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 10px auto 0 110px;
}

.container{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    color: black;
}
.innerContainer{
    height: 50px;
    width: 50px;
    background-color: violet;
    transform: translate(50%,50%);
}